/* Welcome text */
h3 {
    color: white;
    text-align: center;
    margin-top: 40px
}
/* Home text */
h4 {
    color: aliceblue;
    font-weight: bold;
    margin-left: -470px;
    margin-top: 10px;
    font-size: large;
}
/* square + line  */
.square-line {
    color: aliceblue;
    margin-left: 10px;
    margin-top: -120px;
    font-size: x-small;
}
/* under the line text*/
p.per {
    color: aliceblue;
    font-size: medium;
    margin-left: -340px;
    margin-top: auto;
}
/* img*/
img {
    align-items: center;
    height:15rem;
    font-size: 1.75em;
    margin-left: 0px;
    margin-top: 100px;
}
/* .faa-bounce animated{
    
} */