@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.min.css";
.card 
div.card-header {
  font-size: large;
 
 }
 
 div.card {
   margin-top: 50px;
   margin-left: 50px;
   margin-right: 50px;
   height: 700px;
   
 }
 
 .table {
   margin-top: 10px;
   color: aliceblue;
 }
 
 html, body {
   background-color: rgba(255, 255, 255, 0.509);
   background-image: url(assets/images/622.jpg);
   background-position: center;
   background-size: 170%;
   
   
 } 
 .card {
   background-color: rgba(0, 0, 0, 0.678);
   color: rgb(255, 255, 255);
 }
 
 .card-header {
   background-color: rgba(21, 21, 21, 0.68) ;
   color: cornsilk;
 }
 
 


 .text-center {
   margin-top: 600px;
   margin-left: 1100px;
 }