body{
    background-image: url(src/assets/777994.jpg);
}



#bash{
    background-color: rgba(7, 201, 133, 0.187);
    margin-top: 30px;
    margin-left: 110px;
    -moz-box-shadow:    3px 3px 5px 6px rgb(0, 0, 0);
  -webkit-box-shadow: 20px 3px 20px 6px rgb(0, 0, 0);
  box-shadow:         20px 10px 50px 20px rgb(0, 0, 0);
}

h1{
    color: rgb(255, 255, 255);
    margin-top: -600px;
    margin-left: 25px;
}

#sbox{
    background-color: darkorange;
    height: 600px;
    width: 150px;
    margin-top: -680px;
    margin-left: 150px;
}
