body {
    background-color: black;

}

h1 {
color: purple;
text-align: center;
font-family: cursive;
}
h2 {
    color: purple;
    text-align: center;
    font-family: cursive;
}
h3 {
    color: purple;
    text-align: center;
    font-family: cursive;
}
h3 {
    color: purple;
    text-align: center;
    font-family: cursive;
}
h4 {
    color: purple;
    text-align: center;
    font-family: cursive;
}
h5{
    color: purple;
    text-align: center;
}

li {
    color: purple;
    list-style-type: none;
    text-align: center;
    
}
.secret{
    opacity: .5;
    
}
th, td{
    color: purple;
    text-align: center;
    border: darkgray solid 1px;

}
table{
    color: purple;
    border: solid 1px darkgrey;
    margin: 0 auto
}

