
body {
    background-color: rgb(19, 74, 94);
    text-align: center;
    font-family: fantasy;
    
}
ul {
    list-style: none;
    margin: 0 auto;
}
.secret {
    opacity: 0.5;
}

table, th, td {
    border: 1px solid grey;
    margin: 0 auto;
  }