
<div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets/landingpage1.png" class="d-block w-100" id="mask" alt="...">
      <div class="carousel-caption animated fadeInUp slow fadeOutDown">
        <p >Stuck at home?</p>
        <h5>Refresh your space</h5>
        <button type="button" class="btn btn-light btn-lg ">Take quiz</button>
      </div>
    </div>
    <div class="carousel-item">
      <img src="assets/landingpage2.png" class="d-block w-100" alt="...">
      <div class="carousel-caption animated fadeInUp slow fadeOutDown">
        <p >Free Shipping on all plants</p>
        <h5>Outdoors for your indoors</h5>
        <button type="button" class="btn btn-light btn-lg ">Get Plants</button>
      </div>
    </div>
    <div class="carousel-item">
      <img src="assets/landingpage3.png" class="d-block w-100" alt="..." id="mask">
      <div class="carousel-caption animated fadeInUp slow fadeOutDown">
        <p >Not sure where to start?</p>
        <h5>Find your perfect plant here.</h5>
        <button type="button" class="btn btn-light btn-lg ">Browse Planters</button>
      </div>
    </div>
    
  </div>
 </div>