h1 {
    font-family: cursive;
    text-align: center;
    color: violet;
}
body {
    background-color: dimgray;
}





h3{
    color: whitesmoke;
    text-align: center;
}
ul{
    text-align: center;
}
div {
    text-align: center;
}